<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: fit-content;

        }

        table,
        td,
        th {
            margin: auto;
            height: 30px;
            padding: 0%;
            border: 2px solid rgb(33, 80, 48);
            border-collapse: collapse;
        }

        th {
            background-color: rgb(66, 125, 65);
            color: rgb(200, 224, 190);
            font-size: x-large;
        }


        input,
        tr {
            background-color: rgb(181, 230, 181);

        }

        tr input {
            text-align: center;

            font-size: inherit;
            border: none;
        }

        td {
            text-align: center;
        }

        td span {
            display: inline-block;
            border: 1px solid rgb(22 128 179);
            border-radius: 4px;
            width: 64px;
            color: white;
            padding: 3px;
            margin: 2px;
            background-color: #5b933f;
            cursor: pointer;
        }

        .btn {
            margin: auto;
            margin-top: 10px;
            width: fit-content;
            text-align: center;
            border: 2px solid rgb(74, 154, 87);
            padding: 5px;
            background-color: rgb(116, 182, 99);
            cursor: pointer;
        }

        .btn:hover {

            border: 2px solid rgb(33, 90, 19);

            background-color: rgb(74, 154, 87);
        }
    </style>
</head>

<body>

    <table id="student">
    </table>
    <div onclick="addStudentField()" class="btn">ADD Data</div>
    <div onclick="saveAll()" class="btn">Save All</div>


    <script>
        var n, n2;
        showdata();
        async function showdata() {
            let studentTable = document.getElementById('student');
            studentTable.innerHTML = "";
            const data = await fetch(`http://localhost:7878/getstudent`);
            const stdata = await data.json();

            studentTable.innerHTML += `<tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Collage</th>
                <th>City</th>
                <th>Action</th>
            </tr>`;
            for (let i = 0; i < stdata.length; i++) {

                n = stdata[i].id;
                n2 = stdata[i].id;
                studentTable.innerHTML += ` <tr>
                                    <td><input type="text" id="id${stdata[i].id}" value="${stdata[i].id}" name="id" required/></td>
                                    <td><input type="text" id="firstname${stdata[i].id}" value="${stdata[i].firstname}" name="firstname" required/></td>
                                    <td><input type="text" id="lastname${stdata[i].id}" value="${stdata[i].lastname}" name="lastname" required/></td>
                                    <td><input type="text" id="email${stdata[i].id}" value="${stdata[i].email}" name="email" required/></td>
                                    <td><input type="text" id="collage${stdata[i].id}" value="${stdata[i].collage}" name="collage" required/></td>
                                    <td><input type="text" id="city${stdata[i].id}" value="${stdata[i].city}" name="city" required/></td>
                                    <td><span onclick="updatestudent(${stdata[i].id})" class="saveBtn">Save</span></td>
                                </tr>`;
            }

        }



        function addStudentField() {
            n += 1;
            var tab = document.getElementById("student");

            var trow = tab.insertRow();

            trow.innerHTML = ` 
                                    <td><input type="text" id="id${n}" value="${n}" name="id" required/></td>
                                    <td><input type="text" id="firstname${n}" name="firstname" required/></td>
                                    <td><input type="text" id="lastname${n}" name="lastname" required/></td>
                                    <td><input type="text" id="email${n}" name="email" required/></td>
                                    <td><input type="text" id="collage${n}" name="collage" required/></td>
                                    <td><input type="text" id="city${n}" name="city" required/></td>
                                    <td><span  class="saveBtn" onclick="addStudentData(${n})">Save</span></td>
                                `;

        }


        async function addStudentData(id) {
            var fname = document.getElementById(`firstname${id}`).value;
            var lname = document.getElementById(`lastname${id}`).value;
            var email = document.getElementById(`email${id}`).value;
            var collage = document.getElementById(`collage${id}`).value;
            var city = document.getElementById(`city${id}`).value;
            var studentData = [];
            studentData.push(fname, lname, email, collage, city);

            await fetch(`/addstudent?studentdata=${studentData}`);

            // console.log("showdataup add");
            showdata();
            // console.log("showdataDown add");
        }

        function updatestudent(id) {
            var sid = document.getElementById(`id${id}`).value;
            var fname = document.getElementById(`firstname${id}`).value;
            var lname = document.getElementById(`lastname${id}`).value;
            var email = document.getElementById(`email${id}`).value;
            var collage = document.getElementById(`collage${id}`).value;
            var city = document.getElementById(`city${id}`).value;
            var studentData = [];
            studentData.push(fname, lname, email, collage, city, sid);
            console.log("inside function");

            fetch(`/updatestudent?studentdata=${studentData}`)
                .then((res) => { console.log("update1"); res.json() })
                .then((data) => {
                    console.log("update2");

                }).catch((err) => {
                    console.log("inside update catch");
                    console.log(err);
                })
            console.log("showdataup update");
            showdata();

            console.log("showdataDown update");

        }

        async function saveAll() {
            var start = n2 + 1;
            var end = n;

            for (id = start; id <= end; id++) {
                var fname = document.getElementById(`firstname${id}`).value;
                var lname = document.getElementById(`lastname${id}`).value;
                var email = document.getElementById(`email${id}`).value;
                var collage = document.getElementById(`collage${id}`).value;
                var city = document.getElementById(`city${id}`).value;
                var studentData = [];
                studentData.push(fname, lname, email, collage, city);
                await fetch(`/addstudent?studentdata=${studentData}`);
            }
            showdata();


            console.log("start", start);
            console.log("end", end);
        }


    </script>
</body>

</html>